body {
    background-color: yellow;
    font-family:"Times New Roman";
    color: green;
}
h1 {
    font-family:"Arial";
    color: green;
    background-color: white;
}
a {
    background-color: #CCCCCC;
}